#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
}
.title {
  text-align: center;
  margin-bottom: 0.5rem;
  position: sticky;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: underline;
}
body{
    background-color: #ded5d5;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif ;
    color: #222;
}
