#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}
body{
    background-color: #ded5d5;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    color: #222
}